@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <form>
        <div class="text-center">
            <h1 class="display-4">Welcome to Cowboy Cafe!</h1>
            <p>
                We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
                Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
                Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger!
                You’ve had a hard ride - so take it easy with us.
            </p>

            <h2>Here at the Cowboy Cafe we have Entrees, Sides, and Drinks!</h2>
        </div>

        <div id="search">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
            <input type="submit" value="Search">
        </div>

        <div id="filters">

            <h4>Category</h4>
            @foreach (String category in CowboyCafe.Data.Menu.Category)
            {
                <label>
                    <input type="checkbox" name="Category" value="@category" checked="@Model.Category.Contains(category)" />
                    @category
                </label>
            }

            <h4>Calories</h4>
            <div>
                Between
                <input name="CaloriesMin" type="number" min="0" max="900" step="1" placeholder="min" value="@Model.CaloriesMin"/>
                and
                <input name="CaloriesMax" type="number" min="0" max="900" step="1" placeholder="max" value="@Model.CaloriesMax"/>
            </div>

            <h4>Price</h4>
            <div>
                Between
                <input name="PriceMin" type="number" min="0" max="10.00" step="0.01" placeholder="min" value="@Model.PriceMin"/>
                and
                <input name="PriceMax" type="number" min="0" max="10.00" step="0.01" placeholder="max" value="@Model.PriceMax"/>
            </div>
        </div>

        <div class="ItemDisplay">
            
            @foreach (CowboyCafe.Data.IOrderItem i in Model.ItemsFound)
            {
                <div class="menuEntree">
                    <h6>@i.ToString()</h6>
                    <div class="te">
                        Price:  @i.Price
                    </div>
                    <div class="imdb">
                        Calories: @i.Calories
                    </div>
                </div>
            }
            
        </div>
    </form>
